* {
    margin: 0;
    padding: 0;
    font-family: raleway,helvetica neue,Helvetica,Arial,sans-serif;
    box-sizing: border-box;
    
}
nav, .menu {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    flex-wrap: wrap;
}
h1 {
    font-size: 40px;
    margin: 20px 100px 10px 100px;   
}
h2{
    color:white;
    font-size: 60px;
    display: flex;

}
a {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
}
.plane{
    background-image:url(images/samolot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items:center;
    flex-direction: column;
}
.button{
    display: flex;
    flex-direction: row;
}

button{
    background-color: cadetblue;
    font-size: 20px;
    font-family: Arial;
    border:none;
    color: white;
    padding: 15px 40px;
    margin: 10px;
    text-transform: uppercase;
}

p {
    line-height: 200%;
    margin: 20px 20px 20px 0px;
    min-width: 320px;
    color: darkgray;
    font-family: 
}
.white img{
    margin:30px;
    max-width: 400px;
/*    border:2px solid green;*/
}
.white {
    background-color: white;
    display: flex;
    width: 80%;
    justify-content: center;
    margin: auto;
    padding: 100px;
    align-items: center;
   
}
.white div {
    margin: 0px;
}

.white button {
    margin: 0;
}
.gray_background {
    background-color: #f5f5f5;
}

.mountains {
    background-image: url(images/gory.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
    width: 100%;
    overflow: hidden;    
}